p{
    font-size: 20px;
}

body{
    font-family: century-gothic, sans-serif;
    font-style: normal;
    font-weight: 400;
}

input[type=text]{
    width: 95%;
    padding: 20px 30px;
    padding-right: 50px;
    margin: 8px 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    border: 1px solid #F0F0F0;
    box-sizing: border-box;
    border-radius: 25px;
    font-size: 20px;
    font-family: century-gothic, sans-serif;
    font-style: normal;
    font-weight: 400;
    background-color: #F0F0F0;
}

button{
    background-color: #947360;
    color: white;
    float: right;
    right: 60px;
    cursor: pointer;
    top: 85px;
    color: white;
    padding: 13px 10px;
    margin: 8px 0;
    border: 0;
    border-radius: 19px;
    width: 143px;
    position: absolute;
    font-size: 17px;
}
